<h1>This is the overview site</h1>

<h3>Your Name: {{name}}</h3>


<h3>I am requested for:  </h3>
{{#each foreignRequests}}
  <h5>Requested from:  {{this.searcher.name}}</h5>
  
  <h5>Status: {{this.status}}</h5>
{{/each}}


<h3>My Requests: </h3>
{{#each myRequests}}
  <h5>Request to:  {{this.requested.name}}</h5>
  <h5>Request for:  {{this.requested.talents}}</h5>
  <h5>Status: {{this.status}}</h5>
{{/each}}